{% extends 'blog/base.html' %}
{% load static %}
{% block title %}NBA Shotchart Maker{% endblock %}

{% block js %}
  <script src="{% static '/js/test-ajax.js/' %}"></script>
  <script src="{% static '/js/shotchart/const.js/' %}"></script>
  <script src="{% static '/js/shotchart/functions.js/' %}"></script>
  <script src="{% static '/js/shotchart/ajax.js/' %}"></script>
  <script src="{% static '/js/shotchart/main.js/' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}


  {% block content %}
    <div class="page">
        <h1>NBA Player Shotchart Maker</h1>
        <div id="chart-container" class="ChartMaker">
            <div id="step-one" class="step">
              <h2>Step 1: Pick a Player</h2>
              <div class="row">
                <div class="col-12 step-icon">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <div class="row chart_searchForm">
                <input id="player-search-term" class="col-9" placeholder="Search for a player..." />
                <button id="player-search-button" class="col-3">Search</button>
              </div>

              <div class="row player-selection">
                <div id="search-term-label"></div>
                <ul id="search-results"></ul>
              </div>
            </div>
            <div id="step-two" class="step">
              <h2>Step 2: Pick Your Data</h2>
              <button id="go-back-2">Go Back</button>
              <div class="row">
                <div class="col-12">
                  <div class="player-profile">
                    <img src="/static/img/player_placeholder.jpg/" id="player-headshot">
                    <div id="player-name"></div>
                    <div id="player-team"></div>

                  </div>
                  <div class="player-fields">
                    <div class="field-row">
                      <label>Season:</label>
                      <select id="season-selector"></select>
                    </div>
                    <div class="field-row">
                      <label>Time Frame:</label>
                      <select id="timeframe-selector">
                        <option>Full Season</option>
                        <option>Single Game</option>
                      </select>
                    </div>
                    <div class="field-row">
                      <label>Game:</label>
                      <select id="game-selector"></select>
                    </div>
                    <div class="field-row">
                      <label>Game Time Frame:</label>
                      <select id="game-frame-selector">
                        <option>Full Game</option>
                        <option>First Half</option>
                        <option>Second Half</option>
                      </select>
                    </div>
                    <div class="field-row">
                      <label>Theme:</label>
                      <select id="theme-selector">
                        <option>Hex</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  {% endblock %}
