{% extends 'blog/base.html' %}
{% load static %}
{% block title %}NBA Shotchart Maker{% endblock %}

{% block js %}
  <script src="{% static '/js/test-ajax.js/' %}"></script>
  <script src="{% static '/js/shotchart.js/' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}


  {% block content %}
    <div class="page">
      <div class="row">
          <div class="col-md-12">
            <h2>Let's Make a Chart!</h2>
            <p>These are instructions:</p>
            <button id="test-ajax">Send</button>
            <img src="" id="results">
          </div>
      </div>
      <div class="row">
        <div id="chart-container">
          <div class="chartMaker">
            <div class="col-sm-12 col-md-6 chartPreview">
              <img src="/static/img/placeholder.jpg" />
            </div>
            <div class="col-sm-12 col-md-6 chartFields">
              <div class="player_preview">
                <img src="/static/img/player_placeholder.jpg" />
              </div>
              <div class="row player_search">
                <div class="chart_searchForm">
                  <input id="player-search-term" class="col-9" placeholder="Search for a player..." />
                  <button id="player-search-button" class="col-3">Search</button>
                </div>
              </div>
              <div class="row player_selections">
                <ul id="search-results">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
