.chartMaker {
  display: flex;
}

.chartFields {

}

.chartPreview {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.player_preview {
  width: 100%;
  padding: 20px;
  img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50px;
  }
}

.chart_searchForm {
    width: 75%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#search-term-label{
    width: 100%;
    text-align: center;
    padding: 15px;
    color: gray;
  }

.step-icon {
    width: 100%;
    color: $orange;
    text-align: center;
    font-size: 7rem;
}
