h1, h1 a {
  color: $blue;
}

h2, h2 a {
  color: $green;
}

h3, h3 a {
  color: $yellow;
}

input {
  padding: 3px;
}

button {
  cursor: pointer;
}

body {
  font-family: AtlasGroteskWeb,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

img {
  max-width: 100%;
}
.page-footer {
  background: linear-gradient(
    15deg,
    $grey,
    $grey 75%,
    $blue 75%, $blue 80%,
    $red 80%, $red 85%,
    $orange 85%, $orange 90%,
    $yellow 90%, $yellow 95%,
    #fff 95%, #fff 100%
  );
  color: $dark-grey;
  padding: 20px;
  margin-top: 20px;
  height: 100px;
}

.footer-copyright {
  text-align: center;
  opacity: 0.4;
  padding: 20px;
}

.page-header {
    background: linear-gradient(
      15deg,
      #fff,
      #fff 5%,
      $yellow 5%, $yellow 10%,
      $orange 10%, $orange 15%,
      $red 15%, $red 20%,
      $blue 20%, $blue 25%
    );
  color: #fff;
  border-bottom: 0px;
  margin: 0px;
  a {
    color: #fff;
  }
}

.header-brand {
  font-size: 3.5rem;
  font-family: Consolas,Monaco,monospace;
}

.header-tagline {
    font-family: Consolas,Monaco,monospace;
    font-size: .98rem;
    padding-bottom: 10px;
}
