@mixin linearGradient($left, $right){
    background-color: $left; /*fallback color*/
    background: $left; /* Old browsers */
    background: -moz-linear-gradient(right,  $right 0%, $left 80%); /* FF3.6+ */
    background: -webkit-linear-gradient(right,  $right 0%,$left 80%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to left,  $right 0%,$left 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    color: #FFF;
    h1,h2,h3,h4 { color: #FFF; }
}
